absl-py==1.0.0
aiohttp==3.7.4.post0
alabaster==0.7.12
altair==4.1.0
appdirs==1.4.4
argon2-cffi==21.1.0
arrow==1.2.0
asgiref==3.4.1
astor==0.8.1
astroid==2.6.2
asttokens==2.0.4
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
Babel==2.5.3
backcall==0.2.0
base58==2.1.0
binaryornot==0.4.4
bitarray==1.2.2
bleach==3.1.5
blinker==1.4
Brlapi==0.8.2
Brownie==0.5.1
cached-property==1.5.2
cachetools==4.2.4
cchardet==2.1.7
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.4
command-not-found==0.3
cookiecutter==1.7.3
cryptography==3.3.2
cupshelpers==1.0
cytoolz==0.11.0
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.0
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.2
distro==1.5.0
Django==2.2.24
django-bootstrap3==11.0.0
django-countries==6.1.3
django-enumfields==2.0.0
django-filer==1.7.1
django-filter==2.2.0
django-jinja==2.5.0
django-js-asset==1.2.2
django-mptt==0.9.1
django-parler==2.0.1
django-polymorphic==2.1.2
django-registration-redux==2.7
django-reversion==3.0.5
django-tailwind==2.2.2
django-timezone-field==3.1
djangorestframework==3.11.0
djhtml==1.4.9
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docstring-to-markdown==0.9
docutils==0.17.1
easy-thumbnails==2.7.1
entrypoints==0.3
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.5
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
factory-boy==2.7.0
fake-factory==0.5.3
filelock==3.0.12
flatbuffers==2.0
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.42.0
gyp==0.1
h5py==3.6.0
hexbytes==0.2.1
hidpidaemon==18.4.6
httplib2==0.18.1
idna==2.10
imagesize==1.2.0
importlib-metadata==4.5.0
ipfshttpclient==0.7.0
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.1
jdcal==1.4.1
jedi==0.18.0
jedi-language-server==0.33.0
jeepney==0.6.0
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.1.0
jsonfield==2.1.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
kernelstub==3.1.4
keyring==23.0.1
keyrings.alt==4.0.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lazy-object-proxy==1.6.0
libclang==12.0.0
louis==3.16.0
lru-dict==1.1.7
lxml==4.6.3
macaroonbakery==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==4.2.0
msgpack==1.0.2
multiaddr==0.0.9
multidict==5.1.0
nbclient==0.5.8
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
netaddr==0.8.0
netifaces==0.10.9
networkx==2.6.3
notebook==6.4.6
numpy==1.21.2
oauthlib==3.1.0
opencv-python==4.5.4.60
openpyxl==2.5.14
opt-einsum==3.3.0
packaging==20.9
pandas==1.3.4
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pomegranate==0.14.6
pop-transition==1.1.2
poyo==0.5.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.12.4
ptyprocess==0.7.0
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.21
pycryptodome==3.10.1
pycups==2.0.1
pydantic==1.8.2
pydbus==0.6.0
pydeck==0.7.1
pygls==0.11.1
Pygments==2.9.0
PyGObject==3.38.0
PyJWT==1.7.1
pylint==2.9.3
pymacaroons==0.13.0
Pympler==0.9
PyNaCl==1.4.0
pynvim==0.4.3
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.0
pyswip==0.2.10
python-apt===2.2.0-ubuntu0.21.04.1
python-dateutil==2.8.1
python-debian==0.1.39
python-slugify==5.0.2
python-xlib==0.29
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.2.1
QtPy==1.11.3
readthedocs-sphinx-ext==0.5.17
repolib==1.5.2
repoman==1.4.0
requests==2.25.1
requests-oauthlib==1.3.0
rlp==2.0.1
rsa==4.8
scipy==1.7.2
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
semantic-version==2.8.5
Send2Trash==1.8.0
sessioninstaller==0.0.0
shuup==2.10.2
simplejson==3.17.2
six==1.16.0
smmap==5.0.0
snowballstemmer==2.1.0
Sphinx==1.5.6
sqlparse==0.4.1
ssh-import-id==5.11
streamlit==1.2.0
systemd-python==234
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
texttable==1.6.3
toml==0.10.2
toolz==0.11.1
tornado==6.1
traitlets==5.1.1
typeguard==2.12.1
typing-extensions==3.10.0.0
tzdata==2021.5
tzlocal==4.1
ubuntu-advantage-tools==27.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unicodecsv==0.14.1
Unidecode==1.1.2
urllib3==1.26.5
validators==0.18.2
varint==1.0.2
vboxapi==1.0
virtualenv==20.4.7
vyper==0.2.12
wadllib==1.3.5
watchdog==2.1.6
wcwidth==0.2.5
web3==5.21.0
webencodings==0.5.1
websocket-client==0.57.0
websockets==9.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.12.1
xdg==5
xkit==0.0.0
xlrd==2.0.1
yarl==1.6.3
zipp==3.4.1
