{% extends "oscar/customer/baseaccountpage.html" %}

{% load i18n %}

{% block tabcontent %}

<table class="table p-4 bg-white shadow-sm rounded-lg">

    <tbody>
        <tr>
            <th class="border-b-2 p-4 dark:border-dark-5">
                {% trans 'Name' %}
            </th>
            <td class="border-b-2 p-4 dark:border-dark-5 ">
                {{ user.get_full_name }}
            </td>
       </tr>
        <tr class="text-gray-700">
            <th class="border-b-2 p-4 dark:border-dark-5">
            {% trans 'Email Address' %}
            </th>
            <td class="border-b-2 p-4 dark:border-dark-5">
             {{ user.email }}
            </td>
       </tr>
            {% block profile_fields %}
                {% for field in profile_fields %}
                    <tr class="text-gray-700">
                        <th class="border-b-2 p-4 dark:border-dark-5" >{{ field.name }}</th>
                        <td class="border-b-2 p-4 dark:border-dark-5" >{{ field.value|default:"-" }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
            <tr class="text-gray-700">
                <th class="border-b-2 p-4 dark:border-dark-5" >{% trans 'Date registered' %}</th>
                <td class="border-b-2 p-4 dark:border-dark-5" >{{ user.date_joined }}</td>
            </tr>
        </tbody>
</table>

    <a href="{% url 'customer:change-password' %}" class="px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-80 hover:no-underline">{% trans 'Change password' %}</a>
    <a href="{% url 'customer:profile-update' %}" class="px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-gray-600 rounded-md hover:bg-gray-500 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-80 hover:no-underline">{% trans 'Edit profile' %}</a>
    <a id="delete_profile" href="{% url 'customer:profile-delete' %}" class="px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:ring focus:ring-red-300 focus:ring-opacity-80 hover:no-underline">{% trans 'Delete profile' %}</a>

{% endblock %}
