{% extends "oscar/layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.get_meta_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.get_meta_description }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
            {% with category=product.get_categories.first %}
                {% for c in category.get_ancestors_and_self %}
                    <li class="breadcrumb-item"><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">{{ product.get_title }}</li>

                {% get_back_button as backbutton %}
                    {% if backbutton %}
                        <li class="float-right">
                            <a href="{{ backbutton.url }}">
                                <i class="fas fa-arrow-left"></i> {{ backbutton.title }}
                            </a>
                        </li>
                    {% endif %}
            {% endwith %}
        </ol>
    </nav>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<article class="product_page"><!-- Start of product page -->

    <div class="row">

        {% block product_gallery %}
        <div class="col-sm-6">
            {% include "oscar/catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        {% block product_main %}
        <div class="col-sm-6 product_main">
            {% comment %}
                This is a bit clunky here.  Better to have some kind of JS-driven dashboard menu that
                pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_staff %}
                <a class="float-right d-none d-md-block" href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                    <small><i class="fas fa-pencil-alt"></i> {% trans "Edit this product" %}</small>
                </a>
            {% endif %}


            
            <h1 class="text-3xl">{{ product.get_title }}</h1>

            {% block product_stock_record %}
                {% include "oscar/catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            {% iffeature "reviews" %}
                {% include "oscar/catalogue/reviews/partials/review_stars.html" %}
            {% endiffeature %}

            <hr class='mt-2'/>

            {% if not product.is_parent %}
                {% block product_basket_form %}
                    {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
                {% endblock %}
            {% else %}
                {% block variants %}
                    <h2>{% trans 'Variants:' %}</h2>
                    {% for child in product.children.public %}
                        {% purchase_info_for_product request child as child_session %}
                        {% if child_session.availability.is_available_to_buy %}
                            <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
        </div><!-- /col-sm-6 -->
        {% endblock %}

    </div><!-- /row -->

    {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h2>{% trans "Product Description" %}</h2>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}
    {% endblock %}

    {% block product_info %}

    
    <div class="flex flex-col justify-center mb-8 ">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 flex justify-center">
          <div class="py-2 align-middle inline-block w-full sm:px-6 lg:px-8">
            <div
              class="
                shadow
                overflow-hidden
                border-b border-gray-200
                sm:rounded-lg
                mt-6
              "
            >
            <h2 class="text-2xl text-gray-100 bg-gray-800 px-4 py-2">{% trans "Product Information" %}</h2>
              <table class="w-full divide-y divide-gray-200">
                <tbody class="bg-white divide-y divide-gray-200">
                
                {% if product.upc %}
      
                <tr>
                    <th class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="ml-4">
                          <div class="text-sm font-bold text-gray-900">
                            {% trans "UPC" %}
                          </div>
                        </div>
                      </div>
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-gray-700">
                        {{ product.upc}}
                      </div>
                    </td>
                  </tr>
              {% endif %}
      
              <tr>
                  <th class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="ml-4">
                          <div class="text-sm font-bold text-gray-900">
                            {% trans "Product Type" %}
                          </div>
                        </div>
                      </div>
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-gray-700">
                        {{ product.get_product_class.name }}
                      </div>
                    </td>
              </tr>
      
              {% purchase_info_for_product request product as session %}
              {% if session.price.exists %}
                  <tr>
                   <th class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="ml-4">
                          <div class="text-sm font-bold text-gray-900">
                            {% trans "Price (excl. tax)" %}
                          </div>
                        </div>
                      </div>
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-gray-700">
                        {{ session.price.excl_tax|currency:session.price.currency }}
                      </div>
                    </td>
                  </tr>
      
                  {% if session.price.is_tax_known %}
                      <tr>
                        <th class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-bold text-gray-900">
                              {% trans "Price (incl. tax)" %}
                            </div>
                          </div>
                        </div>
                      </th>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-700">
                          {{ session.price.incl_tax|currency:session.price.currency }}
                        </div>
                      </td>
                      </tr>
      
                      <tr>
                        <th class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-bold text-gray-900">
                              {% trans "Tax" %}
                            </div>
                          </div>
                        </div>
                      </th>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-700">
                          {{ session.price.tax|currency:session.price.currency }}
                        </div>
                      </td>
                      </tr>
                  {% endif %}
                  <tr>
                         <th class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-bold text-gray-900">
                             {% trans "Availability" %}
                            </div>
                          </div>
                        </div>
                      </th>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-700">
                          {{ session.availability.message }}
                        </div>
                      </td>
                  </tr>
              {% endif %}
              {% for av in product.get_attribute_values %}
                  <tr>
                         <th class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-bold text-gray-900">
                             {{ av.attribute.name }}
                            </div>
                          </div>
                        </div>
                      </th>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-700">
                          {{ av.value_as_html }}
                        </div>
                      </td>
                  </tr>
              {% endfor %}
              {% iffeature "reviews" %}
                  <tr>
                   
                      <th class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-bold text-gray-900">
                             {% trans "Number of reviews" %}
                            </div>
                          </div>
                        </div>
                      </th>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-700">
                         {{ product.num_approved_reviews }}
                        </div>
                      </td>
                  </tr>
              {% endiffeature %}
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}

    {% iffeature "reviews" %}
        {% block product_review %}
        <section>
            <div id="reviews" class="sub-header">
                {% if product.num_approved_reviews > 3 %}
                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn float-right">{% trans "See all reviews" %}</a>
                {% endif %}
                <h2>{% trans "Customer Reviews" %}</h2>
            </div>

            {% if product.num_approved_reviews == 0 %}
                <p>
                    {% if product|is_review_permitted:user %}
                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            {% blocktrans %}This product does not have any reviews yet -
                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% trans "This product does not have any reviews yet" %}.
                    {% endif %}
                </p>
            {% else %}
                <div class="grid grid-cols-3 gap-4">
                    {% for review in product.reviews.approved.all|slice:":3" %}
                        {% include 'oscar/catalogue/partials/review.html' %}
                    {% endfor %}
                    </div>
            {% endif %}
        </section>
        {% endblock product_review %}
    {% endiffeature %}

    {% with recommended_products=product.sorted_recommended_products|slice:":6" %}
        {% if recommended_products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ul class="row list-unstyled mx-0">
                {% for product in recommended_products %}
                <li class="col-sm-4 col-md-3 col-lg-3">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% recently_viewed_products current_product=product %}

</article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
