{% load currency_filters %}
{% load i18n %}

<div class="basket-mini col-sm-5 text-right d-none d-md-block">
    <strong>{% trans "Basket total:" %}</strong>
    {% if request.basket.is_tax_known %}
        {{ request.basket.total_incl_tax|currency:request.basket.currency }}
    {% else %}
        {{ request.basket.total_excl_tax|currency:request.basket.currency }}
    {% endif %}

    <div class="btn-group">
      <button type="button" class="flex items-center px-2 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-tl-md rounded-bl-md hover:bg-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-80" onclick="window.location.href='{% url 'basket:summary' %}';">{% trans "View basket" %}</button>
      <button type="button" class="bg-indigo-200 text-gray-800 rounded-br-lg rounded-tr-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        {% include "oscar/basket/partials/basket_quick.html" %}
      </div>
    </div>
</div>
