{% load i18n %}
{% load category_tags %}

<nav class="bg-white shadow ">
    <div class="container px-6 py-3 mx-auto" x-data="{open: false, mobileMenu: true}">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <a class="text-2xl font-bold text-gray-800  lg:text-3xl hover:text-gray-700 " href="/">{{ shop_name }}</a>

                    {% include "oscar/partials/search.html" with state="hidden md:block mx-10" %}

                </div>

                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                    <button type="button" class="text-gray-500  hover:text-gray-600  focus:outline-none focus:text-gray-600 " aria-label="toggle menu" @click="mobileMenu = !mobileMenu">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="items-center md:flex" x-show="mobileMenu">
                <div class="flex flex-col mt-2 md:flex-row md:mt-0 md:mx-1">
                <p class="hidden md:block px-2"> {% if user.is_authenticated %} Greeting {{ user.first_name }} {% else %} Hi there! {% endif %} </p>

                </div>
                <div class="md:hidden">
                    {% if user.is_staff or perms.partner.dashboard_access %}
                        <a href="{% url 'dashboard:index' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            {% trans "Dashboard" %}
                        </a>
                    {% else %}
                        <a href="#" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            {% trans "Become our vendor" %}
                        </a>
                    {% endif %}

                    <hr class="border-gray-200  ">
                    {% if user.is_authenticated %}
                        <a href="{% url 'customer:summary' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            Profile
                        </a>
                        <a href="{% url 'customer:order-list' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            Order History
                        </a>
                        <a href="{% url 'customer:address-list' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            Address Book
                        </a>
                        <a href="{% url 'customer:email-list' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            Email History
                        </a>
                        <a href="{% url 'customer:alerts-list' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            Product Alerts
                        </a>
                        <a href="{% url 'customer:notifications-inbox' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            Notifications
                        </a>

                        <a href="{% url 'customer:wishlists-list' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            Wish Lists
                        </a>
                        <a href="{% url 'customer:logout' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            {% trans "Logout" %}
                        </a>
                    {% else %}

                        <a href="{% url 'customer:login' %}" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            {% trans "Login" %}
                        </a>

                        <a href="#" class="block px-2 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                            {% trans "Register" %}
                        </a>
                    {% endif %}
                </div>

                <div class="flex items-center -mx-1 md:mx-0">
                    <div class="flex items-center mt-2 md:mt-0">
                        {% comment %} Show notification {% endcomment %}
                        {% if user.is_authenticated %}
                            <button class="hidden mx-2 text-gray-600 md:block  hover:text-gray-700  focus:text-gray-700  focus:outline-none" aria-label="show notifications">
                                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        {% endif %}

                        <button type="button" class="flex items-center focus:outline-none" aria-label="toggle profile dropdown">
                            <div class="w-8 h-8 overflow-hidden border-2 border-gray-400 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full object-cover" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                                </svg>
                            </div>

                        <h3 class="px-2 md:hidden py-3 text-sm text-gray-600 "> {% if user.is_authenticated %} {{ user.first_name }} {% else %} Guest {% endif %} </h3>
                        </button>
                    </div>
                    <div>

                        <div class="relative inline-block hidden md:block" >
                            <!-- Dropdown toggle button -->
                            <button class="relative z-10 p-1 mt-2 text-gray-700   focus:border-gray-500 focus:ring-opacity-20  focus:ring-gray-300 focus:ring  focus:outline-none" @click="open = !open">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                                </svg>
                            </button>

                            <!-- Dropdown menu -->
                            <div x-show="open" @click.outside="open = false" class="absolute right-0 z-20 w-48 py-2 mt-2 bg-white rounded-md shadow-xl ">
                                {% if user.is_staff or perms.partner.dashboard_access %}
                                    <a href="{% url 'dashboard:index' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        {% trans "Dashboard" %}
                                    </a>
                                {% else %}
                                    <a href="#" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        {% trans "Become our vendor" %}
                                    </a>
                                {% endif %}
                                <hr class="border-gray-200  ">
                                {% if user.is_authenticated %}


                                    <a href="{% url 'customer:summary' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        Profile
                                    </a>
                                    <a href="{% url 'customer:order-list' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        Order History
                                    </a>
                                    <a href="{% url 'customer:address-list' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        Address Book
                                    </a>
                                    <a href="{% url 'customer:email-list' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        Email History
                                    </a>
                                    <a href="{% url 'customer:alerts-list' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        Product Alerts
                                    </a>
                                    <a href="{% url 'customer:notifications-inbox' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        Notifications
                                    </a>
                                    <a href="{% url 'customer:wishlists-list' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        Wish Lists
                                    </a>
                         <a href="{% url 'extra:redeemable_voucher' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                             Voucher
                                    </a>


                                    <a href="{% url 'customer:logout' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        {% trans "Logout" %}
                                    </a>
                                {% else %}

                                    <a href="{% url 'customer:login' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        {% trans "Login" %}
                                    </a>

                                    <a href="#" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform  hover:bg-gray-100  ">
                                        {% trans "Register" %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% include "oscar/partials/search.html" with state="md:hidden mt-3" %}
            </div>
        </div>

        <div class="py-3 mt-3 -mx-3 overflow-y-auto whitespace-nowrap scroll-hidden">
            {% category_tree as tree_categories %}
            {% if tree_categories %}
                {% for tree_category in tree_categories %}
                    <a class="mx-4 text-sm leading-5 text-gray-700  hover:text-blue-600 hover:underline md:my-0" href="{{ tree_category.url }}">
                        {% if tree_category.pk == category.pk %}
                            <strong>{{ tree_category.name }}</strong>
                        {% else %}
                            {{ tree_category.name }}
                        {% endif %}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</nav>


